PORT=8000

# Bittensor Wallet
WALLET_NAME=default
WALLET_HOTKEY=default
WALLET_PATH=~/.bittensor/wallets/

# Network
SUBTENSOR_NETWORK=finney
ENV=production

# Optional proxy for validation tasks
PROXY_SERVER=
PROXY_USERNAME=
PROXY_PASSWORD=

